*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    max-width: 600px;
    margin-bottom: 24px;
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-input{
    max-width: 480px;
    margin: 14px 0px;
}
.container-input > span{
    color: white;
    font-size: 22px;

}
.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background: rgb(227, 227, 227);
    height: 18px;
    outline: none;
    margin-top: 8px;
    transition: transform 0.3s;
}
.slider:hover{
    transform: scale(1.01);
}
.buttom-cta{
    height: 40px;
    background-color: rgb(98, 156, 12);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    transition: transform 0.3s;
}
.buttom-cta:hover{
    transform: scale(1.02);
}
.container-password{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.hide{
    display: none;
}
.title{
    font-weight:bold ;
    text-align: center;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 9px;
    color: white;
}
.password{
    height: 60px;
    background-color: rgba(52, 52, 52, 0.4);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.1em;
    border: 1px solid rgb(98, 156, 12);
    transition: transform 0.3s;
}
.password:hover{
    transform: scale(1.02);
}
.tooltip{
    color: white;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background-color: rgba(52, 52, 52, 0.4);
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.container-password:hover .tooltip{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}